name: Style

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:

jobs:
  check-style:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]

    steps:
      - uses: "actions/checkout@v6"
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
          cache-dependency-path: |
            pyproject.toml

      - name: Install dependencies
        run: |
          pip install .[style]

      - name: Run pre-commit
        run: |
          SKIP=no-commit-to-branch pre-commit run --all-files --hook-stage=manual --show-diff-on-failure
