name: Testing

on:
 push:
   branches:
     - main
   tags: "*"
 pull_request:


env:
  ERT_SHOW_BACKTRACE: 1

jobs:
  tests:
    name: "Python ${{ matrix.python-version }} on ${{ matrix.os }}"
    strategy:
      matrix:
        python-version: ["3.11", "3.12"]
        os: [ ubuntu-latest]
        include:
          - os: macos-latest
            python-version: "3.12"

    runs-on: ${{ matrix.os }}

    steps:
      - uses: "actions/checkout@v4"
        with:
          fetch-depth: 0

      - uses: "actions/setup-python@v5"
        with:
          python-version: "${{ matrix.python-version }}"

      - name: "Install dependencies"
        run: |
          pip install --upgrade pip

      - name: "Install package"
        run: |
          pip install .[test]
          pip install ert@git+https://github.com/equinor/ert

      - name: "Test package everest-models"
        run: |
          python -m pytest -sv --hypothesis-profile ci --run-slow
